{% extends 'base.html' %}
{% block title %}
    To Do List
{% endblock %}
{% block menu %}

{% endblock %}

{% block content %}
    {% for task in tasks %}
        {% if task.status.title == 'New' %}
            <div class="alert alert-danger" role="alert">
                {% include 'tasks.html' %}
            </div>
        {% elif task.status.title == 'In Process' %}
            <div class="alert alert-warning" role="alert">
                {% include 'tasks.html' %}
            </div>
        {% elif task.status.title == 'Completed' %}
            <div class="alert alert-success" role="alert">
                {% include 'tasks.html' %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
